<div class="hoverzoom">
    <img src="/img/buttons/spc.gif">
    <a href="https://servicos.spc.org.br/spc/controleacesso/autenticacao/entry.action"
       target="_BLANK">
        <div class="retina">
            <p>Consulta SPC</p>
        </div>
    </a>
</div>
<div class="hoverzoom">
    <img src="/img/buttons/protesto.gif">
    <a href="https://www.phdrisk.com/acicam" target="_BLANK">
        <div class="retina">
            <p>Agendar Protesto</p>
        </div>
    </a>
</div>
<div class="hoverzoom">
    <img src="/img/buttons/nfe.gif">
    <a href="http://varitus.com.br/faciap/" target="_BLANK">
        <div class="retina">
            <p>Nota Fiscal</p>
        </div>
    </a>
</div>
<div class="hoverzoom">
    <img src="/img/buttons/certificado.gif">
    <a href="http://www.faciap.org.br/certificadodigital/pontos/?id=43" target="_BLANK">
        <div class="retina">
            <p>Certificado Digital</p>
        </div>
    </a>
</div>
<div class="hoverzoom">
    <img src="/img/buttons/boleto.gif">
    <!--
    <a href="http://www.portaleducacao.com.br/parceiro/acicam" target="_BLANK">
    -->
    <a href="./boleto" target="_BLANK">
        <div class="retina">
            <p>Atualizar Boleto</p>
        </div>
    </a>
</div>
<div class="hoverzoom">
    <img src="/img/buttons/mais-saude.gif">
    <a href="/saude/">
        <div class="retina">
            <p>Convênios</p>
        </div>
    </a>
</div>
 