<div class="container">
    <h2 class="sub-header">Busca</h2>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form action="/busca/" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="pesquisa" placeholder="Pesquisar neste site" class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
